table.table.pruebatabla {
    width: 98% !important;
    margin: 0 auto !important;
    table-layout: auto !important;
}

table.table.pruebatabla th,
table.table.pruebatabla td {
    padding: 12px !important;
    text-align: center !important;
    white-space: nowrap !important;
}
